html {
  height: 100%;
  font-family: 'Montserrat';

  display: grid;
  align-items: center;
  justify-items: center;

  --bg: #FCFCFC;
  --bg-panel: #EBEBEB;
  --color-headings: #000000;
  --color-text: #333333;
  --color-search:rgba(50, 50, 50, 0.2);
  --profile-text: black;
}

html[data-theme='dark'] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-headings: #3694FF;
  --color-text: #ffffff;
  --color-search:rgba(255, 255, 255, 0.938);
  --profile-text: rgb(255, 255, 255);
}

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;     
    width: 100%;
    background-color: var(--bg);   
    box-sizing: border-box;
    padding: 5px;
    display: grid;
    grid-template-areas: "header header header"
                          "sidebar-kiri main sidebar-kanan"
                          "footer footer footer";
                          
  }

  .header {
    grid-area: header; 
    background-color: rgb(87, 0, 0);                  
  } 

  .header .img{
   
    overflow: hidden;
    
  }

  .header .img img{
      margin-left: 50px;
      margin-top: 20px;
      width: 120px;
  } 

  .header ul li{
      display: inline-block;
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  } 

  .header a{
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 18px; 
      padding: 5px 5px 5px 5px;       
  } 

  .header .nav{
      display:grid;
      
  }  


   .sidebar-kiri{
    grid-area: sidebar-kiri; 
    width: 280px;
    background-color: #120849;            
  }

  .sidebar-kiri p{
      color: black;
      text-transform: capitalize;
  }

  .sidebar-kiri .tema{
      display: flex;
      flex-direction: column;
  }

  .sidebar-kiri .tema a{
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 18px;        
      padding: 0px;
      margin-left:50px
  }
  

   .sidebar-kanan{
    grid-area: sidebar-kanan; 
    margin-left: 100px;          
  }

  .sidebar-kanan form {
      width:500px;
      margin:50px;
      margin-left: 100px;
  }

  .sidebar-kanan .list{
      margin-left: 50px;
      display: flex;
      flex-direction: column;      
  }

  .sidebar-kanan .list:hover{
      cursor: pointer;
  }
  .sidebar-kanan .card-list{              
      margin-bottom: 20px;
      width: 400px;
      height: 60px;  
      background-color: var(--bg-panel);     
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }

  .sidebar-kanan .card-list p{
      color: var(--color-text); 
      font-size: 10px;
      opacity:0.4;
      margin-right: 100px;
  }

  .sidebar-kanan .card-list img{
     margin-right: 5px;
     width: 100px;
     border-radius: 3px;
     float: left;
  }

  .search {
      padding:8px 15px;
      background-color: var(--color-search);
      border:0px solid #dbdbdb;
  }
  .button {
      position:relative;
      padding:6px 15px;
      left:-8px;
      border:2px solid #53bd84;
      background-color:#53bd84;
      color:#fafafa;
  }
  .button:hover  {
      background-color:#fafafa;
      color:#207cca;
  }

  .sidebar-kanan h1{
    color: var(--color-headings);
      font-size: 20px;
  }

  .main {
    grid-area: main; 
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    
    margin: 5px 15px;
    gap:20px;
    position: relative; 
    width: 400px;  
    
  }

  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: left;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + label {
    background: var(--color-headings);
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 45px;
  }

  h1 {
    margin: 0;
    color: var(--color-headings);
  }

  
.card {
  width: 100%;
  height: auto;
  grid-column: span 8;
  margin: 10px ;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 10px 10px rgba(0,0,0,.1);
  background-color: var(--bg-panel);
}

.profile {
    width: 100%;
    height: auto;
    margin-top: 100px;
  }

 .profile p{
    margin-top: 25px;  
    color: var(--profile-text);
    font-size: 15px;
    text-transform: capitalize;
 } 

.card:hover{
  cursor: pointer;        
}

.head-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.body-card {
  padding: 10px 15px;
}

.body-card h1 {
  margin: 0;  
  color: var(--color-headings);
  font-size: 20px;
}

.body-card p {
  margin: 0;  
  color: var(--color-text);
  font-size: 15px;
  font-weight: 300;
  opacity:0.4;
  text-transform: lowercase;
}

.body-card svg {
  width: 31px;
  position: absolute;
  bottom: 7px;
  right: 20px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}


  .footer {
    height: 200px;
    grid-area: footer;
    color: black; 
    background-color: rgb(87, 0, 0);    
    display: flex;
    justify-content: center; 
    text-transform: capitalize;
    padding-top: 0px;  
  }

  .footer-img img {
    width: 300px;
    height: 100px; 
  margin-top: 50px;
  
  }

  .footer p{
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-transform: capitalize; 
    position:absolute;
    margin-top: 160px;
  }

  

/*tabel*/
.table 
{
  width: 80%;
  margin-top: 120px;
  margin-left: -260px;
  margin-bottom: 50px;
}
            th, td 
            {
                border: solid 1px #DDD;
                color: var(--profile-text);
                border-collapse: collapse;
                padding: 2px 3px;
                text-align: center;
                font-size: 15px;
            }
          
            input[type='button'] 
            {
                cursor: pointer;
                border: none;
                color: #FFF;
            }
            
            input[type='text'], select 
            {
                text-align: center;
                border: solid 1px #CCC;
                width: auto;
                padding: 2px 3px;
                
            }